.lightblue{
	background-color:rgb(217, 174, 228); 
	color:rgb(32, 3, 47);
}
.title{
	background-color:slategray
}
.card{
    background-color:lightskyblue);
}
* {
	box-sizing: border-box;
  }
  
  .wait {
	background-color: white;
	color: #fff;
	padding: 2em;
  }
  
  .clearfix::after {
	content: "";
	display: table;
	clear: both;
  }
  
  .commentbox-app {
	font-family: 'Montserrat', sans-serif;
	color: #4a4a4a;
	font-size: 17px;
	.container {
	  max-width: 1120px;
	  margin: auto;
	  padding: 0 10px;
	}
	
	.heading {
	  color: dodgerblue;
	  border-left: 3px solid dodgerblue;
	  line-height: 1;
	  padding-left: 12px;
	}
	
	.comment-input,
	.comment-btn {
	  float: left;
	  display: inline-block;
	  height: 70px;
	}
	
	.comment-input {
	  appearance: none;
	  border: 0;
	  border-left: 3px solid transparent;
	  background-color: #EEE;
	  padding: 10px 10px 10px 32px;
	  transition: .65s ease;
	  &:focus {
		border-color: orange;
		background-color: #fff;
	  }
	}
	
	.comment-btn {
	  appearance: none;
	  background-color: #fff;
	  font-size: 25px;
	  text-decoration: none;
	  color:mediumblue;
	  padding: 10px 32px;
	  line-height: 1.5;
	  transition: 0.65s ease;
	  &,
	  &:focus,
	  &:active {
		border: 0;      
	  }
	  &:hover {
		background-color: orange;
		color: #fff;
	  }
	  &:hover + .comment-input {
		background-color: #fff;
		border-color: orange;
	  }
	}
	
	.comment-stream {
			list-style: none;
			padding: 0;
			margin-top: 65px;
	     }
	 
	  
	  li {
		font-size: 28px;
		padding-left: 10px;
		border-left: 3px solid #4a4a4a;
		margin-bottom: 25px;
		&:hover .comment-remove {
		  display: inline-block;
		}
	  }
	}
	
  }