p{
	color: rgb(55, 28, 98);
}
a{
    color:hotpink;
}
.myfavedtechtools{
	font-size: 1.7rem;
}
dl{
    color:cornflowerblue;
    font-size: 1.25rem
}
#second-subheading{
    font-size: 1.5rem
}

.bio aside{ background-color: lightpink;
    width: 25%;
    float: middle;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}